.terminal {
    background-color: var(--background);
    color: var(--text);
    border-radius: 5px;
    padding: 20px;
    padding-top: 0;
    width: 80vw;
    height: 80vh;
    max-width: 1200px;
    max-height: 600px;
}

.terminal-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: -webkit-fill-available;
    border-radius: 0;
    max-width: none;
    max-height: none;
}

.terminal-header {
    display: flex;
    height: 30px;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.terminal-button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
    border: none;
}

.red { background-color: var(--red); }
.yellow { background-color: var(--yellow); }
.green { background-color: var(--green); }

.terminal-button:hover {
    box-shadow: 0 0 2px var(--text), 0 0 10px var(--text), 0 0 20px var(--text);
    transition: background-color 0.2s ease-in-out;
}

.terminal-body {
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 1em;
    color: var(--text);
    text-align: left;
    max-height: 90%;
    overflow: auto;
}

.terminal-body::-webkit-scrollbar {
    width: 10px;
}

.terminal-body::-webkit-scrollbar-thumb {
    background: var(--background-secondary);
    border-radius: 10px;
}

.terminal-history {
    word-break: break-word;
    white-space: pre-wrap;
    overflow-x: hidden;
    font-size: 1em;
    line-height: 1.5;
}

.input-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.prompt-sign {
    font-size: 1em;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.terminal-input {
    flex: 1;
    background: none;
    border: none; 
    font-size: 1em;
    line-height: 1.5;
    color: var(--text);
    outline: none;
    caret-color: var(--cursor);
    font-family: inherit;
    width: 90%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
}

.terminal-input:not(:focus) {
    caret-color: transparent;
}
