:root {
    --background: #1E1E2E;
    --background-secondary: #11111B;
    --text: #CDD6F4;
    --cursor: #F5E0DC;
    --red: #F38BA8;
    --green: #A6E3A1;
    --yellow: #F9E2AF;
    --mauve: #CBA6F7;
    --teal: #94E2D5;
}

.App {
    background-color: var(--background-secondary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--text);
}

.hide-element {
    display: none;
}
